body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.split {
    display: flex;
    flex-direction: row;
}

#canvas {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.content {
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    max-height: 100vh;
}

.optionsheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #616a6b;
    margin: 0px 0px 2px 0px;
}

.chatheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #616a6b;
    margin: 0px;
}

.bubble {
    display: inline-block;
    background-color: #e6e6e6;
    border-radius: 0.4em;
    padding: 0 1em;
    margin: 0.5em;
    margin-bottom: 1.2em;
    max-width: 80%;

    overflow-wrap: break-word;
}

.chat-timestamp {
    font-size: 0.8em;
    color: #616a6b;
    margin: 0px 0.5em;
    position: absolute;
    bottom: 0px;
}

.recieve {
    left: 5px;
}

.send {
    right: 5px;
}

.bubblewrap {
    display: inline-block;
    width: 100%;
    position: relative;
}

.bubble-recieve {
    float: left;
    background-color: #2196f3;
    border-bottom-left-radius: 0em;
}

.bubble-send {
    float: right;
    background-color: #4caf50;
    border-bottom-right-radius: 0em;
}

#chat {
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0px;
    border: 0px;
}

#chat > :first-child {
    margin-top: auto !important;
}

#chat-form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.3em;
    background-color: #aeaeae;
    margin: 0px;
}

#chat-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-right: 0.5em;
    border: 0px;
    height: 2em;
    border-radius: 0.4em;
}

#chat-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 0px;
    height: 2em;
    border-radius: 0.4em;
}

#chat-button:hover {
    background-color: #616a6b;
}

#chat-button:active {
    background-color: #808080;
}

table.options {
    width: 100%;
    border-collapse: collapse;
    bottom: 0px;
    margin-bottom: 7px;
}
