{% set submit = "Log in" %}

{% extends "login_signup.jinja" %} 
{% block login_signup %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<h1>Log in</h1>
<label class="input-label required" for="email">Email</label>
<input id="email" type="text" name="email" placeholder="email" />
<label class="input-label required" for="password">Password</label>
<input id="password" type="password" name="password" placeholder="password" />
{% endblock %}