{% set submit = "Sign up" %}

{% extends "login_signup.jinja" %} 
{% block login_signup %}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

<h1>Sign up</h1>
<label class="input-label required" for="username">Username</label>
<input id="username" type="text" name="username" placeholder="username" />
<label class="input-label required" for="email">Email</label>
<input id="email" type="text" name="email" placeholder="email" />
<label class="input-label required" for="password">Password</label>
<input id="password" type="password" name="password" placeholder="password" />
<label class="input-label required" for="verify">Verify Password</label>
<input id="verify" type="password" name="verify" placeholder="verify password" />
{% endblock %}