{% extends "base.jinja" %} 
{% block content %}
<div class="container">
    <div class="box">
        <link href="{{ url_for('static', filename='css/logsign.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/signup.js') }}"></script>

        <form id="signup-form" action="/signup" method="post">
            <h1>Sign up</h1>
            <label class="input-label" for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="username" />
            <label class="input-label" for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="email" />
            <label class="input-label" for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="password" />
            <label class="input-label" for="verify">Verify Password</label>
            <input id="verify" type="password" name="verify" placeholder="verify password" />
            <input class="submit" type="submit" value="Sign up" />
        </form>
    </div>
</div>
{% endblock %}