{% extends "base.jinja" %}
{% block head %}
<!--face detection old-->
<!--
<script src="https://cdn.jsdelivr.net/gh/cgarciagl/face-api.js@0.22.2/dist/face-api.min.js"></script>
<script src="{{ url_for('static', filename='js/facedetection.js') }}"></script>
-->

<!--live2d-->
<script src="https://cubism.live2d.com/sdk-web/cubismcore/live2dcubismcore.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dylanNew/live2d/webgl/Live2D/lib/live2d.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pixi.js@6.5.2/dist/browser/pixi.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pixi-live2d-display/dist/index.min.js"></script>


<script src="{{ url_for('static', filename='js/model.js') }}"></script>

<link href="{{ url_for('static', filename='css/waifu.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<!--face detection-->
<video id="video" muted playsinline style="display: none;" width="1" height="1"></video>

<div class="split">
    <canvas id="canvas"></canvas>

    <div class="content">
        <div class="chat">
            <h2 class="chatheader">Chat</h2>
            <div class="chatcontainer">
                <div class="chat-box">
                    <div class="bubble bubble-right">
                        <div class="bubble-content">
                            <p>Hi! I'm {{ models[0].name }}. I'm a virtual assistant.</p>
                        </div>
                        <div class="bubble-tail"></div>
                        <div class="chat-timestamp">12:00</div>
                    </div>
                </div>
            </div>
        </div>
        <form class="chat-form" action="javascript:void(0);">
            <input type="text" class="chat-input" placeholder="Type a message..." />
            <button class="chat-button" type="submit">Send</button>
        </form>

        <div class="options">
            <h2 class="optionsheader">Options</h2>
            <table class="optionss">
                <tr>
                    <th>Model</th>
                    <th>
                        <select id="waifu-selector" class="option-selector">
                            {% for model in models %}
                            <option value="{{ model.url }}">{{ model.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Face following</th>
                    <th>
                        <label class="switch">
                            <input type="checkbox" id="face-following">
                            <span class="slider round"></span>
                        </label>
                    </th>
                </tr>
                <tr>
                    <th>Speech</th>
                    <th>
                        <label class="switch">
                            <input type="checkbox" id="speech" checked>
                            <span class="slider round"></span>
                        </label>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}